@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}
header{
    display: flex;
    flex-direction: column;
}
header .conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .conteiner .nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
}
header .conteiner .nav a{
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
    

}

header .conteiner .nav form button{
    background-color: orange;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 2rem;
    font-weight: 900;
    border: 0;
    box-shadow: 3px 3px 3px black;

}
header .conteiner .logo{
    margin: 10px;

}

header .conteiner .logo img{
    width: 250px; 
    border-radius: 3rem;
    border: 3px solid rgb(250, 178, 43);

}
header .conteiner .logo img:hover,header .conteiner .nav form button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(0, 0, 0);
}
header .conteiner .nav a:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
    color: orange;
}

@media screen and (max-width:750px) { 
    header .conteiner{
        display: flex;
        flex-direction: column;
    }
    header .conteiner .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    header .conteiner .nav a{
        margin: 10px;
        background-color: rgb(196, 196, 196);
        border-radius: 2rem ;
        padding: 5px;
        width: 90%;
    }
    header .conteiner .nav form button{
        margin: 10px;
        font-size: 1.5rem;
    }

    header .conteiner .logo {
        margin-left: 30px;
    }

    header .conteiner .logo img{
        width: 250px;

    }
}


.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),url(img/Mandarinas.3.png);
    background-size: cover;
    background-position: center;
}
.presentacion h1{
    color: orange;
    font-size: 3rem;
    text-align: center;
}
.presentacion h1:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.presentacion button{
    border: 0;
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
    margin-top: 20px;
    font-weight: bold;
    background-color: orange;
}
.presentacion button:hover{
    background-color: rgb(252, 205, 118);
    transform: scale(1.1);
    transition: 0.2s;
}





.articulo{
    margin: 2rem;

}
.articulo #info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}
.articulo #info .titulo{
    background-color: rgb(184, 176, 176);
    border-radius: 2rem;
    width: 50%;
    margin: 5px;
    padding: 0.4rem;
    height: 100%;
}
.articulo #info .titulo h2{
    text-align: center;
    font-weight: bold;
    text-align: center;
    margin: 0.3rem 0rem;
    color: black;
}
.articulo #info .titulo h2:hover{
    color: orange;
    transform: scale(1.1);
    transition: 0.4s;
}
.articulo #info .titulo h3{
    text-align: center;
}
.articulo #info .titulo h3:hover{
    color: orange;
    transform: scale(1.1);
    transition: 0.4s;
}
.articulo #info p{
    font-size: 1.2rem;
    text-align: center;
    color: black;
}

.articulo #info .img-envios{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 2rem;
    background-repeat: no-repeat;
    object-fit: cover;
    background-color: rgb(255, 207, 117);
}
.articulo #info .img-envios h3{
    text-align: center;
    font-size: 1.4rem;
    margin: 0.3rem;
    color: black;
    
}
.articulo #info .img-envios img{
    width: 50%;
    margin: 0.5rem;

}
.articulo #info .img-envios img:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.articulo #info .img-envios .metodos-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.articulo #info .img-envios .metodos-pago img{
    width: 90%;
    border-radius: 2rem;
    margin-bottom: 1rem;
}
.articulo #info .img-envios .metodos-pago img:hover{
    transform: scale(1.1);
    transition: 1.3s;
}



#Diseños{
display: flex;
flex-direction: column;
height: 100%;
}
#Diseños h1{
    text-align: center;
    font-size: 2rem;
    margin: 10px;
}
#Diseños .grid-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows:repeat(auto-fit,minmax(250px,1fr)) ;
    object-fit: cover;
    grid-auto-flow: row;
    grid-auto-rows: 250px;
    grid-gap: 15px;

}
#Diseños .grid-conteiner img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

#Diseños .grid-conteiner img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


#footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
#footer h3{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    font-weight: 100s;
    font-weight: 100;
}
#footer .conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
background-color: black;
}
#footer .redes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;

}
#footer .redes a{
    text-align: center;
    color: white;
    text-decoration: none;

}
#footer .redes a:hover{
    color: orange;
    transform: scale(1.1);
    transition: 0.3s;

}

#footer .redes a img{
    width: 6rem;
    margin: 1rem;
    border-radius: 100%;
    box-shadow: 3px 3px 2px solid black;
}
#footer .redes a img:hover{
    transform: scale(1.1);
    transition: 0.4s; 
}

#footer .paguina-oficial{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
#footer .paguina-oficial img{
    width: 95%;
    height: 90%;
    padding: 1rem;
    border-radius: 6rem;

}
@media (max-width:700px){
    body .articulo #info{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    body .articulo #info .titulo{
        width: 90%;
        margin-left: 0;
    }
    body .articulo #info .img-envios{
        width: 80%;
    }
    
}
@media (max-width:400px){
    body{
        width: 110%;
    }
}
@media (max-width:300px){
    body{
        width: 115%;
    }
    .presentacion h1{
        font-size: 1.7rem;
    }
    .presentacion .button form button{
        font-size: 1.1rem;
    }
    #footer h3{
        font-size: 0.9rem;
        margin: 5px;
    }
    #footer .redes a img{
        width: 4rem;
        margin: 1rem;
        border-radius: 100%;
    }
    #footer .redes a{
        font-size: 0.8rem;
    }
    #footer .paguina-oficial img{
        width: 75%;
        padding: 0.5rem;

    }
}
@media (max-width:500px){
    body .articulo #info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
 
    }
    body .articulo{
        margin: 1rem;
    }
    body .articulo #info .titulo{
        width: 90%;
        margin-left: 0;
    }
    body .articulo #info .img-envios{
        width: 80%;
    }
}